<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>المطور عبد الرحمن</title>
  <link rel="stylesheet" href="/stylesheets/tailwind.css">
  <link rel="stylesheet" href="/stylesheets/home.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body dir="rtl">
  <!-- ناف بار -->
  <header class="p-5 m-5 container mx-auto my-auto">

    <nav dir="rtl" id="nav_bar" class="flex text-white justify-around  items-center">
      <div id="h1_text" class="flex justify-between ">
        <h1 class="text-3xl">المطور عبد الرحمن</h1>
        <i id="menu" class="fa-solid fa-bars" style="color: #ffffff; font-size: 35px;"></i>

      </div>

      <ul id="menus" class="flex mx-28 text-xl  ">
        <li class="mx-4 transition-all hover:bg-cyan-950 duration-300 rounded-md"><a href="#">الصفحة الرئيسي</a></li>
        <li class="mx-4 transition-all hover:bg-cyan-950 duration-300 rounded-md"><a href="#Sec_Cards_Projects">معرض
            المشاريع </a></li>
        <li class="mx-4 transition-all hover:bg-cyan-950 duration-300 rounded-md"><a href="#">لماذا تختارني</a></li>
        <li class="mx-4 transition-all hover:bg-cyan-950 duration-300 rounded-md"><a href="#Sec_MoreAbout_me">سياسية
            الشراء </a></li>

      </ul>
      <div>
        <button type="button"
          class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">انتقل
          لخمسات</button>
      </div>

    </nav>
  </header>
  <section class="container p-10 " id="Start_Sec" >
    <div class="flex justify-center items-center mx-auto text-teal-500 flex-col">
      <h1 class="text-4xl text-center my-10"> لا إله إلا أنت سبحانك إني كنت من الظالمين</h1>
      <div class=" lg:flex lg:justify-center lg:items-center " id="Start_Sec">
        <div class="flex flex-col mx-auto " id="Sec_text_about">
          <h1 class="text-2xl text-white">مرحبا انا</h1>
          <h2 class="text-3xl text-white">المطور عبد الرحمن</h2>
          <p class="">

            أنا عبد الرحمن، مطور ويب متخصص في تطوير مواقع الويب. أعمل كمستقل وعندي خبرة واسعة في هذا المجال. لدي حساب
            على منصة خمسات، حيث أقدم خدماتي بشكل حر ومستقل.

            أحظى بمهارات قوية في لغات البرمجة المختلفة المستخدمة في تطوير الويب، بما في ذلك HTML، CSS، JavaScript،
            وغيرها. أنا متمرس في إنشاء تصاميم واجهات مستخدم جذابة وسلسة، وتطوير نظم إدارة المحتوى (CMS) مثل WordPress،
            وتنفيذ وظائف مخصصة باستخدام لغات البرمجة الخلفية مثل PHP و Python.

            أنا معروف بسرعة استجابتي وتفاعليتي في التعامل مع العملاء. أقدر أهمية الوقت وأعمل بجدية لتلبية احتياجات
            العملاء في أسرع وقت ممكن، مع الحفاظ على جودة العمل العالية والاحترافية.
          </p>
          <div class="py-5 flex-col  ">
            <i class="fa-brands fa-facebook px-5 hover:text-cyan-500 transition-all"></i>
            <i class="fa-brands fa-twitter px-5 hover:text-cyan-500 transition-all"></i>
            <i class="fa-brands fa-instagram px-5  hover:text-orange-500 transition-all"></i>
            <i class="fa-brands fa-linkedin px-5 hover:text-green-600 transition-all"></i>

          </div>
          <button type="button"
            class=" block w-52 text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">تواصل
            معي</button>
        </div>
        <img class="w-96" src="/images/Edit.svg" alt="" style="width: 400px;">
      </div>

    </div>
  </section>
  <section id="Why_Choose_Me" class="text-white p-20" style="border: 2px red solid;">  
    <h1 class="text-4xl text-center my-10">صلي على رسول الله</h1>
    <h1 class=" text-center text-3xl  ">لماذا انا</h1>
    <div class="container  ">
      <div id="Why_Choose_Me_contat" class="text-white my-auto p-5  lg:flex lg:flex-row lg:items-center ">

        <div class="flex flex-col text-teal-500 ">
          <ul>
            <li class="m-5">الاحترافية والمهارة: أنا مطور مواقع ويب محترف وماهر في مجالي. أتمتع بمعرفة واسعة في تطوير
              وتصميم المواقع،
              وأتبع أفضل الممارسات والمعايير القياسية في صناعة تطوير الويب.

            </li>
            <li class="m-5">النزاهة والأخلاق: أنا ملتزم بأخلاقيات عملي وأعمل بجدية ونزاهة. أقدر حقوق العملاء وأتعامل
              معهم
              بصدق وأمانة.
              أنا أؤمن بأن العمل الحلال هو الأساس للنجاح وبالتالي لا أسعى لزيادة أجري بطرق غير مشروعة.

            </li>
            <li class="m-5"> الالتزام بالجودة: أسعى دائمًا لتقديم أعلى مستويات الجودة في عملي. أعمل بعناية ودقة للتأكد
              من
              أن المواقع
              التي أطورها تلبي توقعاتك وتحقق أهدافك.

            </li>
            <li class="m-5">الشفافية والتعاون: أؤمن بأهمية التواصل الجيد والتعاون المستمر معك. سأكون متاحًا للاستماع إلى
              احتياجاتك
              واقتراحاتك، وسأعمل معك بشكل واضح وشفاف لتحقيق رؤيتك للموقع.

            </li>
            <li class="m-5">الدعم المستمر: سأكون هنا لدعمك بعد تسليم المشروع. إذا كانت هناك مشاكل أو استفسارات، فسوف
              أقدم
              الدعم الفني
              اللازم وأساعدك في حل أي مشكلة تواجهها.

            </li>
          </ul>
          <p>باختصار، عندما تختارني كمطور لموقعك، ستحصل على خدمة احترافية، وأنا أعمل بنزاهة وأحرص على حقوقك كعميل. سأضمن
            لك جودة عالية وتعاون مستمر، وستحصل على دعم فن
          </p>
        </div>
        <div class="w-auto flex justify-center items-center">
          <img style="width: 400px;" src="/images/Why_me.svg" alt="">
        </div>

      </div>
    </div>
  </section>
  <section id="Sec_Cards_Projects" class="lg:flex lg:flex-row items-center ">
    <div id="compatible_card" class="lg:flex lg:flex-row items-center ">
      <div id="Box_card" class="mx-auto text-center text-white my-auto p-5  ">
        <h1 class="text-3xl text-teal-500" id="text_title">مشروع الاول</h1>
        <p id="text_card" class="text-teal-500">أنا فخور جدًا بمشروعي الأول الذي أكتملت فيه رحلتي في تعلم جافا سكريبت.
          قمت بإنشاء برنامج بسيط وشامل يجمع جميع المفاهيم التي تعلمتها خلال هذه المغامرة. يعد هذا المشروع حجر الزاوية
          لمسيرتي في تطوير الويب ويعكس تقدمي وتفانيي في فهم لغة جافا سكريبت. باستخدام مهاراتي الجديدة في جافا سكريبت،
          قمت بتصميم وتطوير برنامج يتضمن مجموعة واسعة من الوظائف والميزات المفيدة. استغليت قدرات اللغة لتحقيق تفاعلية
          فعالة وتحسين تجربة المستخدم. كان الهدف الرئيسي لهذا المشروع هو إظهار ما تعلمته وتقديم برنامج قوي ومليء
          بالمزايا.</p>
      </div>
      <div id="Card" class="Card ">
        <img id="img_card" src="/images/ImgCard/CRUD.jpg" alt="صورة">
        <div class="overlay">
          <input type="radio" name="card" onclick="EditText(0)">
          <input type="radio" name="card" onclick="EditText(1)">
          <input type="radio" name="card" onclick="EditText(2)">
          <input type="radio" name="card" onclick="EditText(3)">
        </div>
      </div>
    </div>
  </section>
  <section id="Sec_MoreAbout_me" class=" container mx-auto ">
    <div class="flex flex-col   p-20 text-white items-center">
      <h1 class="text-4xl text-center my-10">صلي على رسول الله</h1>
      <h2 class="text-3xl text-center  my-10">سياسة شراء - حقوق المشتري</h1>
        <p class="text-center">انا كمطور عبد الرحمن ااقدم خدمات عالية الجودة وتلبية احتياجات عملائي. تهدف سياسة الشراء
          الخاصة بي إلى ضمان حقوق المشتري وتقديم الدعم اللازم في حالة حدوث أي أخطاء برمجية داخل موقعنا. انا التزم
          بالنقاط
          التالية:
        </p>
        <ul>
          <li class="my-10">إصلاح الأخطاء البرمجية: كمطور رئيسي، فإنني ملتزم بإصلاح أي أخطاء برمجية تحدث داخل الموقع
            الذي
            تم شراؤه مني. سأعمل بجدية لتصحيح هذه الأخطاء وضمان أداء سلس وموثوق للموقع.</li>
          <li class="my-10">طلبات التعديلات الإضافية: يُفهم أن التعديلات الإضافية للموقع يمكن أن تكون مطلوبة في بعض
            الحالات. ومع ذلك، يجب ملاحظة أنه في حالة تعديلات إضافية، ستعتبر هذه خدمة إضافية وستتم فواتيرة بشكل منفصل.
          </li>
          <li class="my-10">دعم فني قوي: نحن نوفر دعمًا فنيًا قويًا لعملائنا. إذا واجهت أي مشاكل أو استفسارات تتعلق
            بالموقع، يمكنك الاتصال بفريق الدعم الفني للحصول على المساعدة اللازمة. نحن هنا لضمان رضاك وتجربة استخدام
            سلسة.
          </li>
          <li class="my-10">ملكية السورس كود: عند شراء خدماتنا، ستكون لديك حقوق الملكية الكاملة على السورس كود الخاص
            بالموقع. هذا يعني أنك مؤهل لإجراء التعديلات على الموقع من قبل مطور آخر بدون قيود.</li>
        </ul>
    </div>
  </section>




  <script src="/javascripts/home.js"></script>
</body>

</html>